<section class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>home</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80" alt="">
      </div>
      <div class="col-12 col-md-6">
        <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id cum aliquam illum a debitis 
          facere nemo quas praesentium suscipit soluta eveniet, voluptas consectetur nihil dolor 
          iure officiis laboriosam omnis perspiciatis fugiat. Laboriosam rem optio gitis 
          iusto vel dolor eos ut aperiam nam! Asperiores recusandae magni vitae ipsa eaque, ad quo. 
        </pre>
      </div>
    </div>
  </section>
